<%= form_for(day) do |f| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>    
  </div>

  <div class="field">
    <%= f.label :distance %>
    <%= f.text_field :distance %> 
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>